body {
	background-color: lightgrey;
	color: orange;
}

ul {
	color: black;
}

.naslov {
	font-size: 60pt;
}	

#prvi_naslov {
	color: red;
	font-family: Comic Sans MS;
	
}

#drugi_naslov{
	font-family: Arial;
	color: orange;
}
