body {
	/*background-color: lightblue;*/
	background-image: url("kuca.jpg");
	background-size: 100%;
	/*background-repeat: repeat-x;*/
	background-repeat: no-repeat;
	background-position: top right;
	background-attachment: fixed;
	
	
}