.item {
    display: flex;
    justify-content: space-around;

    margin-top: 15px;
    padding: 15px;
    
    border: 1px solid lightgrey;
    border-radius: 20px;
}

.zaglavlje{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zaglavlje-desno{
    display: flex;
    justify-content: center;
    align-items: center;
}