#margina {
	border: 1px solid black;
	padding: 30px;
	
	/*
		padding-top
		padding-right
		padding-bottom
		padding-left
		
		velicine:
			duzina_px,pt,cm
			%
			inherit
			
	*/
	
	margin: 50px 20px 75px 100px;
	/*
		margin-top
		margin-right
		margin-bottom
		margin-left
		
		velicine:
			auto
			duzina_px,pt,cm
			%
			inherit
			
	*/

}

#dimenzija {
	background-color: lightblue;
	height: 200px;
	width: 50%;
	
	/*
	velciine:
		auto		Browser postavlja
		_lenght   	px, cm, pt, ...
		%			% od parent dimenzije
		initial		postavlja predefinisanu(default) vrednost
		inherit		Uzima vrednost od parent elementa
	*/
	
	
	max-width: 300px;
	max-height: 20%;
	/*
		Ne dozvoljava elementu da predje zadatu granicu
	*/
	
	margin: 30px;
	border: 1px solid black;
	/*
	outline-style
	outline-color
	outline-width
	outline-offset
	outline
	*/
	
	outline-style: double;
	outline-color: green;
	outline-width: 3px;
	outline-offset: 10px; /* Pomera outline od granice za 10px */
}

h2 {
	color: green;
}

#tekst {
	border: 1px solid black;
	padding: 5px;
	/* Poravnavanje teksta */
	text-align: justify; /* left right center justify*/
	
	/* Dekoracija teksta */
	text-decoration: none; /* none overline line-through underline */
	
	/* Transformacija teksta */
	text-transform: ; /* uppercase lowercase capitalize */
	
	
}

p{
	/* Indentacija */
	text-indent: 50px;
	
	letter-spacing: 2px;
	line-height: 1.8;
	direction: ltr; /* rtl */
	word-spacing: 10px;
	text-shadow: 3px 2px yellow;
	
}








