*{
    margin: 0;
    font-family: Inconsolata, Consolas, monospace;
    font-size: 18pt;    
}
body{
    padding: 10px 0 0 10px; /* gore desno dole levo */
}
button{
    display: block;
    margin: 15px 0; /* gore/dole desno/levo */
}
.red_dugmadi{
    width: 220px;
    height: 55px;
    
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    
}
.dgm_p, .dgm_k{
    width: 50px;
    height: 50px;
    background: #777777;
    border: 1px solid black;
    border-radius: 50%;

}

.dgm_p:hover{
    filter: brightness(130%);
}

#sakriven_red{
    /* visibility: hidden; */
    display: none;
}

.sakriven_div{
    display: none;
}

#dgm_oceni{
    display: none;
}

#nova-kombinacija{
    display: block;
}

.red{
    margin-bottom: 4px;
}

.flex-red{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center;     */
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokusaj-pamcenje{
    border: 2px solid gray;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.resenje-pamcenje{
    background-color: #777777;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}